@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  background-color: white;
  margin: 0;
  padding: 0;
}

.r_content .r_heading {
  color: black;
  text-align: center;
  margin: 5px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.r_content {
  padding-top: 10%; /* Adjusted padding for responsiveness */
}

.r_content p {
  text-align: center;
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(168, 167, 167, 0.962);
  font-family: 'Montserrat', sans-serif;
}

.r_form input[type=text],
.r_form input[type=email],
.r_form select {
  width: 100%; /* Adjusted width for responsiveness */
  padding: 12px 0;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.r_form input[type=submit] {
  width: 100%; /* Adjusted width for responsiveness */
  background-color: #a00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.r_form input[type=submit]:hover {
  background-color: #a00;
}

/* Add a media query for smaller screens */
@media only screen and (min-width: 768px) {
  .r_form {
    width: 45%;
    margin: auto;
  }
}
